body {
	background-color: #010e01;
}

#intro {
	width: 98%;
	height: 98%;
	background: #010e01 url("img/Cloudcroft-Envelope-Front_300sma.jpg") no-repeat center center;
	z-index: 100;
}

	#intro img {
		margin:auto;
	}

#outro {
	display:none;
	background-color: rgba(5, 9, 5, 0.68);
	width: 100%;
	height:100%;
}
	#outro p {
		width: 300px;
		height: 30px;
		text-align: center;
		margin:auto;
		color:#fffffe;
		font-size:26px;
		cursor: pointer;
	}

#map,
#media,
#letter {
	position:absolute;
	width:48%;
	height:98%;
}

#letter {
	top: 1%;
	left: 20px;
}

.page,
#intro  {
	position:absolute;
	opacity: 0;

	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

	.page.active,
	#intro.shown  {
		opacity: 1;
	}

	.page img {
		height:100%;
	}


#media {
	top: 1%;
	right: 20px;
	height:48%;
}

	#media .item {
		position: absolute;
	}

	#media .horizontal .inner {
		width: 100%;
	}

	#media .vertical .inner {
		height: 100%;
	}


#map {
	bottom:10px;
	right:20px;
	height:400px;

-moz-box-shadow:0px 0px 7px #000000;
-webkit-box-shadow:0px 0px 7px #000000;
box-shadow:0px 0px 7px #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
}

#player {
	position: absolute;
	bottom:5px;
	left:20px;
}